.container {
  text-align: center;
}

.container h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.container input {
  padding: 5px 0;
  margin-bottom: 20px;
  text-align: center;
}

.alert {
  background-color: rgba(167, 104, 104, 0.5);
  margin-bottom: 5px;
  border-radius: 3px;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: rgb(52, 83, 167);
}

p {
  font-size: 1.5em;
  color: white;
  padding: 0;
  margin: 0;
}