.spacer {
  flex: 1 1 auto;
}

.icon {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.white-content {
  color: white;
}

.container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link {
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  cursor: pointer;
  margin: 10px;
}

h2 {
  text-align: center;
  outline: none;
  border: 0;
}

.content {
  padding: 50px;
}
