.spacer {
  flex: 1 1 auto;
}

.icon {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

mat-toolbar {
  background-color: rgb(52, 83, 167);
}

.white-content {
  color: white;
}

.container {
  position: absolute;
  height: 100%;
  text-align: center;
}

.sidenav {
  width: 200px;
}

.sidebar-link {
  cursor: pointer;
}

h2 {
  outline: none;
  border: 0;
}