<div [formGroup]="parts" class="app-custom-form-field-container">
  <input class="area" class="app-custom-form-field-element" formControlName="area" size="3" aria-label="Area code" (input)="handleInput()">
  <span class="app-custom-form-field-spacer">&ndash;</span>
  <input class="exchange" class="app-custom-form-field-element" formControlName="exchange" size="3" aria-label="Exchange code" (input)="handleInput()">
  <span class="app-custom-form-field-spacer">&ndash;</span>
  <input class="subscriber" class="app-custom-form-field-element" formControlName="subscriber" size="4" aria-label="Subscriber number" (input)="handleInput()">
</div>