.container {
  text-align: center;
  width: 500px;
}

.decoration {
  font-weight: bold;
}

.no-decoration {
  font-weight: normal;
}

.close-icon {
  padding: 5px;
  float: right;
  cursor: pointer;
}