<table>
  <tbody>
    <tr *ngFor="let item of data | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
      <td *ngFor="let cell of cells">
        <ng-container *ngTemplateOutlet="cell; context: item">
          
        </ng-container>
      </td>
    </tr>
  </tbody>  
</table>

<div class="paginator">
  <mat-paginator [length]="data.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="setPagination($event)"
              aria-label="Select page">
  </mat-paginator>
</div>
