<div class="container">
  <div *ngFor="let book of books" class="book-list">
    <app-card class="book-card" [routerLink]="['./', book.id]">
      <img src="../../../assets/ponasenkov.jpg" height="210">
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.price }}</mat-card-subtitle>
    </app-card>
  </div>
</div>

<div class="bottom-container">
  <button class="fab-button" mat-fab color="primary" routerLink="add-book">+</button>
  <button class="fab-button" mat-fab color="primary" (click)="openFilter()">Filter</button>
  <mat-paginator class="paginator"
              [length]="booksMeta?.records"
              [pageSize]="booksMeta?.limit"
              [pageIndex]="booksMeta?.page - 1"
              [pageSizeOptions]="pageSizeOptions"
              (page)="setPagination($event)"
              aria-label="Select page">
  </mat-paginator>
</div>
