.paginator {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.paginator-button {
  margin: 5px;
}

#select-paginator {
  text-align: center;
}

.select-center {
  text-align: center;
}

.pages {
  text-align: center;
}