<mat-chip-list>
  <ng-container *ngFor="let chip of chips">
    <mat-chip [removable]=removable (removed)="remove(chip)">
      {{chip}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </ng-container>
</mat-chip-list>

<div class="form-container">
  <ng-container *ngFor="let genre of genres.controls; let i = index">
    <mat-form-field class="form-field">
      <input matInput [formControl]="genres.controls[i]" placeholder="Genres" [matAutocomplete]="genreAuto">
      <mat-autocomplete #genreAuto="matAutocomplete">
        <mat-option *ngFor="let genre of genreOptions" [value]="genre.name" (click)="addGenre(genre.name)">
          {{genre.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field><br>
  </ng-container>
</div>
