.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-card {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.genre-card:hover {
  cursor: pointer;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
}
