<mat-chip-list #genreList aria-label="Genre selection">
  <mat-chip *ngFor="let genre of genres" [selectable]="selectable"
            [removable]="removable" (removed)="remove(genre)">
    {{ genre }}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <input
          [formControl]="genreForm"
          [matChipInputFor]="genreList"
          [matAutocomplete]="genreAutocomplete"
          (focusin)="onFocusIn($event)"
          (focusout)="onFocusOut($event)">       
  <mat-autocomplete #genreAutocomplete="matAutocomplete">
    <mat-option *ngFor="let genre of genreOptions$ | async" (click)="addGenre(genre.name)">
      {{ genre.name }}
    </mat-option>
  </mat-autocomplete>
</mat-chip-list>