<button mat-raised-button color="primary" (click)="goBack()">Back</button>
<ng-container *ngIf="book">
  <div class="book-container">
    <h2><span class="font-style">Title: </span> {{ book.title }}</h2>
    <h3><span class="font-style">Author: </span>  <a [routerLink]="['../../authors/', book.author_id]"><span class="author-name">{{ author?.first_name || '-' }} {{ author?.last_name || '-' }}</span></a></h3>
    <h3><span class="font-style">Price: </span>  {{ book.price }}</h3>
    <h3><span class="font-style">Genres: </span>  </h3>
    <ng-container *ngFor="let genre of book.genres">
      {{ genre.name }}
    </ng-container>
    <div class="description-container">
      <h4><span class="font-style">Description: </span> {{ book.description }}</h4>
    </div>
  </div>
</ng-container>