<div class="container">
  <div *ngFor="let book of books$ | async" class="book-list">
    <app-card class="book-card" [book]="book" (bookInfo)="setBookInfo($event)" [routerLink]="['./', book.id]"></app-card>
  </div>
</div>

<div class="bottom-container">
  <button class="fab-button" mat-fab color="primary" routerLink="test">+</button>
  <button class="fab-button" mat-fab color="primary" (click)="openFilter()">Filter</button>
  <mat-paginator class="paginator"
              [length]="booksMeta.length"
              [pageSize]="booksMeta.pageSize"
              [pageIndex]="booksMeta.pageIndex - 1"
              [pageSizeOptions]="pageSizeOptions"
              (page)="setPagination($event)"
              aria-label="Select page">
  </mat-paginator>
</div>