<div class="container">
  <div *ngFor="let book of books" class="book-list">
    <app-card [book]="book" (bookInfo)="setBookInfo($event)" [routerLink]="['./', book.id]"></app-card>
  </div>
</div>

<!-- <div class="addButton">
  <button mat-raised-button color="primary" (click)="showAddBookModal()">Add book</button>
</div> -->

<div class="bottom-container">
  <button mat-fab color="primary" routerLink="test">+</button>
  <mat-paginator class="paginator"
              [length]="booksMeta.length"
              [pageSize]="booksMeta.pageSize"
              [pageIndex]="booksMeta.pageIndex - 1"
              [pageSizeOptions]="pageSizeOptions"
              (page)="setPagination($event)"
              aria-label="Select page">
  </mat-paginator>
</div>
