<div class="container">
  <h1 mat-dialog-title>Additional information
    <img mat-dialog-close class="close-icon" src="../../../../assets/close.png">
  </h1>
  <div mat-dialog-content>
    <!-- <img class="close-icon" src="../../../../assets/close.png"> -->
    <img [src]="data.image" height="200">
    <h2>Title: <span class="no-decoration">{{data.title}}</span></h2>
    <h3>Price: <span class="no-decoration">{{data.price}}</span></h3>
    <h4>Author: <span class="no-decoration">{{data.author}}</span></h4>
    <h4>Genre: <span class="no-decoration">{{data.genre}}</span></h4>
    <p><span class="decoration">Description:</span> {{data.description}}</p>
  </div>
</div>