<div class="container">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
      <mat-error *ngIf="titleControl.errors?.invalidTitle">
        Title should be more then 5 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Author's name</mat-label>
      <input type="text"
        #input 
        matInput 
        formControlName="author" 
        [matAutocomplete]="nameAuto">
      <mat-autocomplete #nameAuto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let author of nameOptions$ | async" [value]="author">
          {{ author.first_name + ' ' + author.last_name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="authorControl.invalid">
        Please enter a valid name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">
      <mat-error *ngIf="priceControl.invalid">
        Please enter a valid price
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-genre">
      <app-custom-genre-form
      placeholder="Genres"
      required
      [fetchFn]="fetchGenres$"
      formControlName="genre">
      </app-custom-genre-form>
      <mat-error *ngIf="genreControl?.invalid">
        Genres field can't be empty
      </mat-error>
    </mat-form-field>

      <app-image-form
        formControlName="image">
      </app-image-form>



    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
      <mat-error *ngIf="descriptionControl.invalid">
        Please enter a valid description
      </mat-error>
    </mat-form-field>

    <button mat-raised-button 
      color="primary"
      type="submit"
      [disabled]="bookForm.invalid">
      Add book
    </button>

    <button class="form-cancel-button"
      mat-raised-button
      color="primary"
      routerLink="../">
      Cancel
    </button>
  </form>
</div>