<app-table [config]="config" [headers]="headers" [currentPage]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  <ng-template appMyCell let-first_name="first_name">
    {{ first_name }}
  </ng-template>
  <ng-template appMyCell let-last_name="last_name">
    {{ last_name }}
  </ng-template>
  <ng-template appMyCell let-id="id">
    <button mat-icon mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['./', id]"><button mat-menu-item>Info</button></a>
    </mat-menu>
  </ng-template>
</app-table>

<div class="add-author">
  <button mat-raised-button color="primary" (click)="openDialog()">Add author</button>
</div>