.filter-container {
  width: 250px;
  text-align: center;
}

.filter-form {
  width: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.min-price {
  width: 40%;
  float: left;
}

.max-price {
  width: 40%;
  float: right;
}

.price-form {
  width: 90%;
  margin: 0 auto;
}

.price-error {
  text-align: center;
}

.center-elements {
  text-align: center;
}